@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,800;1,600;1,800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Montserrat:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sams", sans-serif;
}

/* ----- SEÇÃO MENU ----- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(238, 238, 238);
    border-bottom: solid 5px rgb(104, 72, 72);
    margin-bottom: 0px;
    height: 125px;
}

.menu ul, .menu-autenticacao ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li, .menu-autenticacao li {
    list-style-type: none;
    margin: 10px;
}

.cabecalho-esquerdo {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.menu a, .menu-autenticacao a {
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 24px;
}

.autenticacao {
    margin-right: 40px;
}

.destaque {
    border-radius: 30px;
    background-color: rgb(104, 72, 72);
    color: white;
}

.menu ul li a:hover {
    border-bottom: 2px solid;
    margin: 0;
}

.login:hover {
    border-bottom: 2px solid;
    margin: 0;
}

.destaque:hover {
    color: white;
}

.logo {
    margin-right: 30px;
    padding: 0;
    width: 75px;
}

/* ----- SEÇÃO COMO PODEMOS AJUDAR ----- */
.como-podemos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: rgb(158, 91, 91);
}

.como-podemos h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin: 0 0 20px 0;
}

.como-podemos div input{
    float: left;
    width: 700px;
    height: 35px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.buscar img {
    float:right;
    width: 35px;
    margin: 0 0 0 10px;
    cursor: pointer;
}

/* ----- SEÇÃO PERGUNTAS E RESPOSTAS ----- */
.perguntas-respostas {
    margin: 0 auto 10px auto;
}

.perguntas-respostas h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 30px 0 10px 0;
}

details {
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    margin: 0px auto;
    padding: 15px 20px 15px 20px;
    background-color: rgb(197, 155, 155);
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    cursor: pointer;
    transition: background .5s ease-in-out;
}

.first {
    border-top: 1px solid black;
}

details p {
    font-size: 18px;
    font-weight: normal;
    color: white;
}

details[open] {
    background-color: rgb(163, 65, 65);

}

details summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

details summary::after {
    content: "+";
    font-size: 22px;
}

details[open] summary::after {
    content: "-";
}

/* ----- RODAPÉ ----- */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    background-color: rgb(238, 238, 238);
}

.rodape-texto {
    margin: 10px 0 10px 40px;
    padding: 0;
}

.rodape-redes {
    margin: 10px 40px 10px 0;
    padding: 0;
}

.rodape-redes img {
    width: 30px;
    margin: 0 0 0 10px;
}

/* ----- RESPONSIVIDADE ----- */
@media screen and (min-width: 320px) and (max-width: 480px) {
    main {
        flex-direction: column;
    }

    .box {
        align-items: unset;
        width: 100%;
        height: 100px;
    }

    p {
        color: red;
    }

  }